global !p

# Detecting math mode relies on the mkdMath syntax option defined in my .vimrc
def math():

	synstackNames = vim.eval(
		"map(synstack(line('.'), max([col('.') - 1, 1])), 'synIDattr(v:val, ''name'')')"
	)

	for n in reversed(synstackNames):
		if n.find('mkdMath') == 0:
			return True

	return False

endglobal

####################
# GENERAL SNIPPETS #
####################

snippet ic "Inline Code"
\`$1\`
endsnippet

snippet dc "Display Code"
\`\`\`
$1
\`\`\`
endsnippet


#######################
# ENTERING MATH ZONES #
#######################

snippet mk "Math" wA
$${1}$`!p
if t[2] and t[2][0] not in [',', '.', '?', '-', ' ']:
    snip.rv = ' '
else:
    snip.rv = ''
`$2
endsnippet

snippet dm "Math" wA
$$
$1
$$ $0
endsnippet



######################
# LATEX ENVIRONMENTS #
######################

context "math()"
snippet cases "Cases" i
\begin{cases}
$1
\end{cases}
endsnippet

context "math()"
snippet align "Aligned" i
\begin{aligned}
$1
\end{aligned}
endsnippet

context "math()"
snippet nl "New Line" iA
\\\\[5pt]
$0
endsnippet



###########################
# TRIGONOMETRIC FUNCTIONS #
###########################

context "math()"
snippet sin "Sine" iA
\sin $0
endsnippet

context "math()"
snippet cos "Cosine" iA
\cos $0
endsnippet

context "math()"
snippet tan "Tangent" iA
\tan $0
endsnippet

# Increase the priority so these snippets actually expand
priority 1
context "math()"
snippet asin "Arcsine" iA
\arcsin $0
endsnippet

context "math()"
snippet acos "Arccosine" iA
\arccos $0
endsnippet

context "math()"
snippet atan "Arctangent" iA
\arctan $0
endsnippet

context "math()"
snippet hsin "Hyperbolic Sine" iA
\sinh $0
endsnippet

context "math()"
snippet hcos "Hyperbolic Cosine" iA
\cosh $0
endsnippet

context "math()"
snippet htan "Hyperbolic Tangent" iA
\tanh $0
endsnippet
priority 0



#################
# GREEK LETTERS #
#################

context "math()"
snippet ;a "Alpha" iA
\alpha $0
endsnippet

context "math()"
snippet ;b "Beta" iA
\beta $0
endsnippet

context "math()"
snippet chi "Chi" iA
\chi $0
endsnippet

context "math()"
snippet ;d "Delta (lowercase)" iA
\delta $0
endsnippet

context "math()"
snippet ;D "Delta (uppercase)" iA
\Delta $0
endsnippet

context "math()"
snippet ;e "Epsilon" iA
\epsilon $0
endsnippet

context "math()"
snippet eta "Eta" iA
\eta $0
endsnippet

context "math()"
snippet ;g "Gamma (lowercase)" iA
\gamma $0
endsnippet

context "math()"
snippet ;G "Gamma (uppercase)" iA
\Gamma $0
endsnippet

context "math()"
snippet ;k "Kappa" iA
\kappa $0
endsnippet

context "math()"
snippet ;l "Lambda (lowercase)" iA
\lambda $0
endsnippet

context "math()"
snippet ;L "Lambda (uppercase)" iA
\Lambda $0
endsnippet

context "math()"
snippet mu "Mu" iA
\mu $0
endsnippet

context "math()"
snippet nu "Nu" iA
\nu $0
endsnippet

context "math()"
snippet ;o "Omega (lowercase)" iA
\omega $0
endsnippet

context "math()"
snippet ;O "Omega (uppercase)" iA
\Omega $0
endsnippet

context "math()"
snippet pi "Pi (lowercase)" iA
\pi $0
endsnippet

context "math()"
snippet Pi "Pi (uppercase)" iA
\Pi $0
endsnippet

context "math()"
snippet phi "Phi (lowercase)" iA
\phi $0
endsnippet

context "math()"
snippet Phi "Phi (uppercase)" iA
\Phi $0
endsnippet

priority 1
context "math()"
snippet vphi "Phi (variant)" iA
\varphi $0
endsnippet
priority 0

context "math()"
snippet psi "Psi (lowercase)" iA
\psi $0
endsnippet

context "math()"
snippet Psi "Psi (uppercase)" iA
\Psi $0
endsnippet

context "math()"
snippet rho "Rho" iA
\rho $0
endsnippet

context "math()"
snippet ;s "Sigma (lowercase)" iA
\sigma $0
endsnippet

context "math()"
snippet ;S "Sigma (uppercase)" iA
\Sigma $0
endsnippet

context "math()"
snippet tau "Tau" iA
\tau $0
endsnippet

context "math()"
snippet ;t "Theta (lowercase)" iA
\theta $0
endsnippet

context "math()"
snippet ;T "Theta (uppercase)" iA
\Theta $0
endsnippet

context "math()"
snippet xi "Xi" iA
\xi $0
endsnippet

context "math()"
snippet ;z "Zeta" iA
\zeta $0
endsnippet



##################################
# BRACKETS, DOTS, AND SUBSCRIPTS #
##################################

context "math()"
snippet ... "Ellipses" iA
\dots $0
endsnippet

priority 1
context "math()"
snippet vdot "Vertical Dots" iA
\vdots $0
endsnippet

context "math()"
snippet ddot "Diagonal Dots" iA
\ddots $0
endsnippet
priority 0

context "math()"
snippet _ "Subscript" iA
_{$1}
endsnippet

context "math()"
snippet ( "Open Parentheses" iA
($1)
endsnippet

context "math()"
snippet [ "Open Square Bracket" iA
[$1]
endsnippet

context "math()"
snippet set "Curly Braces" iA
\\{$1\\}
endsnippet

context "math()"
snippet ang "Angled Brackets" iA
\langle $1 \rangle $0
endsnippet

priority 1
context "math()"
snippet lr( "Tall Parentheses" iA
\left($1\right) $0
endsnippet

context "math()"
snippet lr[ "Tall Square Brackets" iA
\left[$1\right] $0
endsnippet

context "math()"
snippet lr| "Tall Absolute Value" iA
\left|$1\right| $0
endsnippet

context "math()"
snippet lr{ "Tall Curly Braces" iA
\left\\{$1\right\\} $0
endsnippet
priority 0

context "math()"
snippet tt "Text" iA
\text{$1} $0
endsnippet



#########################
# ARITHMETIC OPERATIONS #
#########################

context "math()"
snippet ff "Fraction" iA
\frac{$1}{$2}
endsnippet

context "math()"
snippet sr "Squared" iA
^2
endsnippet

context "math()"
snippet cb "Cubed" iA
^3
endsnippet

context "math()"
snippet rd "Power" iA
^{$1}
endsnippet

context "math()"
snippet sq "Square Root" iA
\sqrt{$1}
endsnippet

context "math()"
snippet ee "Exponential" iA
e^{$1}
endsnippet

context "math()"
snippet exp "Exponential (variant)" iA
\exp
endsnippet

context "math()"
snippet oo "Infinity" iA
\infty $0
endsnippet

context "math()"
snippet neq "Not Equals" iA
\neq $0
endsnippet

context "math()"
snippet geq "Greater Than or Equal" iA
\geq $0
endsnippet

context "math()"
snippet leq "Less Than or Equal" iA
\leq $0
endsnippet

context "math()"
snippet ln "Natural Logarithm" iA
\ln $0
endsnippet

context "math()"
snippet log "Logarithm" iA
\log $0
endsnippet

context "math()"
snippet apx "Approximate" iA
\approx $0
endsnippet



############
# CALCULUS #
############

context "math()"
snippet sum "Sum" iA
\sum_{$1}^{$2} $0
endsnippet

context "math()"
snippet prd "Product" iA
\prod_{$1}^{$2} $0
endsnippet

context "math()"
snippet lim "Limit" iA
\lim_{$1} $0
endsnippet

context "math()"
snippet par "Partial Derivative" iA
\frac{\partial $1}{\partial $2} $0
endsnippet

context "math()"
snippet int "Integral" iA
\int_{$1}^{$2} $3\,d
endsnippet

context "math()"
snippet @ "Evaluated At" iA
\Bigg_{$1}^{$2}
endsnippet



##################
# LINEAR ALGEBRA #
##################

context "math()"
snippet odot "Overdot" iA
\dot{$1}
endsnippet

context "math()"
snippet tm "Times" iA
\times $0
endsnippet

context "math()"
snippet dot "Dot Product" iA
\cdot $0
endsnippet

context "math()"
snippet vec "Vector" iA
\mathbf{$1}
endsnippet

context "math()"
snippet hat "Hat" iA
\hat{$1}
endsnippet

context "math()"
snippet bar "Overline" iA
\overline{$1}
endsnippet

context "math()"
snippet tld "Tilde" iA
\tilde{$1}
endsnippet

context "math()"
snippet det "Determinant" iA
\det
endsnippet

context "math()"
snippet tr "Trace" iA
\text{tr}\,
endsnippet

context "math()"
snippet mtx "Matrix" iA
\begin{pmatrix}
$1
\end{pmatrix}
endsnippet



##################
# LINEAR ALGEBRA #
##################

context "math()"
snippet => "Implies" iA
\Rightarrow $0
endsnippet

context "math()"
snippet -> "Right Arrow" iA
\rightarrow $0
endsnippet

priority 1
context "math()"
snippet <=> "Bidirectional Implication" iA
\Leftrightarrow $0
endsnippet

context "math()"
snippet <-> "Bidirectional Arrow" iA
\leftrightarrow $0
endsnippet
priority 0

context "math()"
snippet == "Equivalent" iA
\equiv $0
endsnippet

context "math()"
snippet fa "For All" iA
\forall $0
endsnippet

context "math()"
snippet exx "There Exists" iA
\exists $0
endsnippet

context "math()"
snippet nex "Not Exists" iA
\nexsts $0
endsnippet

context "math()"
snippet inn "In" iA
\in $0
endsnippet

context "math()"
snippet nin "Not In" iA
\notin $0
endsnippet

context "math()"
snippet sb "Subset" iA
\subset $0
endsnippet

priority 1
context "math()"
snippet nsb "Not Subset" iA
\not\subset $0
endsnippet

context "math()"
snippet esb "Equal Subset" iA
\subseteq $0
endsnippet
priority 0

context "math()"
snippet stu "Set Union" iA
\cup $0
endsnippet

context "math()"
snippet sti "Set Intersection" iA
\cap $0
endsnippet

context "math()"
snippet std "Set Division" iA
\setminus $0
endsnippet

context "math()"
snippet stc "Set Complement" iA
^{\complement}
endsnippet

context "math()"
snippet bsu "Big Set Union" iA
\bigcup $0
endsnippet

context "math()"
snippet bsi "Big Set Intersection" iA
\bigcap $0
endsnippet

context "math()"
snippet qed "Black Square" iA
\blacksquare $0
endsnippet

context "math()"
snippet # "Cardinality" iA
\# $0
endsnippet



################
# PROBABILITY  #
################

context "math()"
snippet chs "Choose" iA
\binom{$1}{$2}
endsnippet

context "math()"
snippet var "Variance" iA
\text{Var}\,
endsnippet

context "math()"
snippet cov "Covariance" iA
\text{Cov}\,
endsnippet

context "math()"
snippet eqv "Equivalent" iA
\sim $0
endsnippet

context "math()"
snippet EE "Expectation" iA
\mathbb{E}
endsnippet



##################
# NUMBER SYSTEMS #
##################

context "math()"
snippet CC "Complex" iA
\mathbb{C}
endsnippet

context "math()"
snippet RR "Real" iA
\mathbb{R}
endsnippet

context "math()"
snippet QQ "Rational" iA
\mathbb{Q}
endsnippet

context "math()"
snippet ZZ "Integer" iA
\mathbb{Z}
endsnippet

context "math()"
snippet NN "Natural" iA
\mathbb{N}
endsnippet



##############
# MATH FONTS #
##############

context "math()"
snippet mcl "\mathcal" iA
\mathcal{$1}
endsnippet

context "math()"
snippet msf "\mathsf" iA
\mathsf{$1}
endsnippet

context "math()"
snippet msr "\mathscr" iA
\mathscr{$1}
endsnippet

